# direnv
.envrc

node_modules
.next
.vercel
dist
.astro
.deploy
package-lock.json
*.tsbuildinfo
.env
.env.local
local.yaml
.DS_Store
.moon/cache
.moon/docker
.idea

# Runtime data files
data/wishes.json
